@charset "UTF-8";

input:focus,
textarea:focus{
    outline: none;
}

/* 기본영역 지정 */
#contentBox{
    margin: 50px 20px 30px 0px;
    position: relative;
}
#contentBox > div:nth-of-type(2){
    float: left;
}
.blank{
    height: 30px;
}
.reblank{
    width: 300px;
    float: left;
}

/* 썸네일 */
.thumbnail{
    width: 900px;
    height: 150px;
    overflow: hidden;
    object-fit: cover;
    margin-bottom: 20px;
}
.thumbnail img{
    width: 100%;
}

/* 글 - 글정보(제목,글쓴이,날짜 등등) */
#memberTumb > img{
    width: 80px;
    height: 80px;
    float: left;
    border-radius: 50px;
    margin-right: 30px;
    position: absolute;
}
#memberTumb #character{
    z-index: 8888;
}
.writerInfo > .divBox{
    padding: 20px 0px 24px 100px;
    border-bottom: 1px solid rgb(224, 224, 224);
}
.writerInfo > .divBox > div > p {
    float: left;
    font-size: 14px;
    margin-right: 20px;
}
#modifyBoard {
    float: right;
}
#modifyBoard p {
    float: left;
    font-size: 13px;
    margin-left: 14px;
    cursor: pointer;
}

/* 컨텐츠 박스 */
#content_text {
    width: 900px;
    line-height: 36px;
    margin: 30px 0px 80px;
    word-break:break-all;
}
#content_text p {
    width: 900px;
    word-break:break-all !important;
}

/* 카테고리 박스 */
.categoryBox{
    font-size: 14px;
    padding: 20px;
    width: 900px;
    background-color: #F8F9FA;
    margin-bottom: 30px;
}
.categoryBox .categoryTitle{
    width: 100px;
    display: inline-block;
}
.categoryBox .d_category{
    height: 30px;
    display: block;
    margin-bottom: 10px;
}
.categoryBox .tagBtn{
    margin-right: 20px;
    display: inline-block;
    background-color: #F0F3F9;
    padding: 0 10px 0;
    border-radius: 5px;
}
.categoryBox .tagBtn:hover{
    color: #60c277;
    cursor: pointer;
    background-color: #f5f5f5;
}


/* 댓글 영역 */
.replyArea{
    width: 900px;
    padding: 30px;
    background-color: #F8F9FA;
    margin-bottom: 20px;
}
.replyArea #replyContent{
    width: 840px;
    height: 100px;
    border: 1px solid rgb(223, 223, 223);
    padding: 20px;
    resize: none;
}
.replyArea #replyContent::placeholder{
    font-size: 14px;
}
.replyArea #replyBtn{
    width: 840px;
    height: 30px;
    font-size: 14px;
    background-color: #f1f1f1;
    border: 1px solid rgb(223, 223, 223);
    border-radius: 5px;
    margin-bottom: 40px;
}


/* 댓글 리스트  */
.replyWrap .replyList .rInfo{
    margin : 20px 0 12px 0;
}
.replyWrap .replyList .rInfo > p{
    float: left;
    margin-right: 20px;
}
.replyWrap .replyList .rInfo > div{
    float: right;
}
.replyWrap .replyList .rInfo > div > p {
    float: left;
    font-size: 14px;
    margin-left: 10px;
    cursor: pointer;
    color: #646464;

}
.replyWrap .replyList .rInfo > p:first-child{
    font-size: 16px;
}
.replyWrap .replyList .rInfo > p:nth-child(2){
    color: #b1b1b1;
    font-size: 13px;
    line-height: 26px;
}

.replyWrap .rCon{
    margin-bottom: 20px;
}


.replyWrap .rrInfo{
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(223, 223, 223);
}

.replyWrap .rrInfo p{
    font-size: 14px;
    float: left;
    color: #646464;
    cursor: pointer;
}
.replyWrap .rrInfo p:last-child{
    float: right;
}

/* 댓글 수정 */
.replayModify{
    width: 840px;
    height: 100px;
    border: 1px solid rgb(223, 223, 223);
    padding: 10px;
    margin-bottom: 3px;
    resize: none;
}
.replyWrap .rCon button{
    width: 410px;
    border: none;
    font-size: 13px;
    padding: 5px;
    height: 30px;
    background-color: #f1f1f1;
    border: 1px solid rgb(223, 223, 223);
    border-radius: 5px;
}
.replyWrap .rCon > button:nth-of-type(1){
    margin-right: 20px;
}



/* 대댓글 영역 */
.replyWrite{
    display: none;
}
.replyWrite > textarea{
    margin-top: 20px;
}
.replyWrite > textarea,
.replyWrite > button{
    width: 790px !important;
    margin-left: 55px;
}
.reReArea{
    margin-left: 50px;
    display: block;
}
.reReArea > div{
    padding-top: 20px;
}
.reReArea > div > div,
.reReArea > div > img{
    float: left;
}
.reReArea > div > img{
    position: absolute;
    width: 20px;
    left: 190px;
    margin: 10px 10px 0px 0px;
}
.reReArea > div{
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(223, 223, 223);
}
.reReArea .rRL{
    width: 790px;
}
.reReArea .rRL > div{
    margin-bottom: 10px;
}
.reReArea .rRL > div > p{
    float: left;
    margin-right: 20px;
    line-height: 20px;
}
.reReArea .rRL > div > p:nth-child(2){
    color: #b1b1b1;
    font-size: 13px;
}
.reReArea .rRL div div{
    float: right;
}
.reReArea .rRL div div p{
    float: left;
    font-size: 13px;
    color: #646464;
    margin-left: 10px;
    cursor: pointer;
}


.replyWrite textarea{
    width: 860px;
    height: 100px;
    border: 1px solid rgb(223, 223, 223);
    padding: 20px;
    resize: none;
}
.rereplyCount{
    cursor : pointer;
}

/* 대댓글수정 */
.reReplayModify{
    width: 790px;
    height: 100px;
    border: 1px solid rgb(223, 223, 223);
    padding: 10px;
    margin-bottom: 3px;
    resize: none;
}
.reReplyMBtn,
.reReplyRBtn{
    width: 385px;
    border: none;
    font-size: 13px;
    padding: 5px;
    height: 30px;
    background-color: #f1f1f1;
    border: 1px solid rgb(223, 223, 223);
    border-radius: 5px;
}
.reReplyRBtn{
    margin-left: 20px;
}


/* 이전글 다음글 리스트 */
#boardList {
    width: 80px;
    margin-right: 70px;
    position: sticky;
    float: left;
    top: 150px;
}
#boardList > div{
    margin-bottom: 5px;
    cursor: pointer;
    height: 100px;
    border: 1px solid rgb(223,223,223);
    border-radius: 10px;
    position: relative;
}
#boardList > div:nth-of-type(2){
    margin-bottom: 20px;
}
#boardList > div > p:first-child{
    text-align: center;
    font-size: 14px;
    color: rgb(131, 131, 131);
}
#boardList > div img{
    width: 30px;
}
#boardList > button{
    border: none;
    float: right;
    font-size: 13px;
    width: 80px;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 100px;
}


/* 사이드바 */
#contentBox .sideBtn{
    height: 400px;
    float: right;
    position: sticky;
    top: 150px;
    left: 0;
}
.sideBtn div {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 1px solid rgb(223, 223, 223);
    margin-bottom: 5px;
    text-align: center;
    cursor : pointer;
}
.sideBtn > p{
    text-align: center;
    font-size: 14px;
    color: #646464;
    margin-bottom: 10px;
}
.sideBtn div img{
    height: 24px;
    margin-top: 24px;    
}
.sideBtn div:nth-of-type(4) img{
    height: 25px;
    margin-top: 22px;
}
.sideBtn div:nth-of-type(3) img{
    height: 25px;
    margin-top: 22px;
}


/* 모달 */
.modal{
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    top:0; left: 0; bottom: 0; right: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 99999 !important;
}
.modal_body {
    position: absolute;
    width: 600px;
    height: 800px;
    padding: 40px;
    border-radius: 10px;
    background-color: #fff;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: scroll;
}
.modal_body div h4{
    font-size: 18px;
    float: left;
    margin-bottom: 20px;
}
.modal_body div img {
    float: right;
}
.modal_body div img{
    width: 20px;
    height: 20px;
    cursor: pointer;
}
#reportInfo{
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    background-color:  #f8f8f8;
    margin-bottom: 30px;
}
.modal_body .writer{
    margin-bottom: 10px;
}
.modal_body .writer,
.modal_body .reportTitle{
    font-size: 15px;
}
.modal_body h5{
    font-size: 16px;
    margin-bottom: 10px;
}
.modal_body #resonBox{
    height: 200px;
    overflow: scroll;
}
.modal_body #resonBox p{
    font-size: 15px;
    cursor: pointer;
    background-color: #f8f8f8;
    margin-bottom: 10px;
    padding-left: 10px;
    border-radius: 10px;
}
.modal_body #resonBox p:hover{
    background-color: #f5ffee;
}
.modal_body #resonBox input{
    margin-right: 10px;
}
.modal_body .reason{
    padding: 10px 0 10px;
}
.modal_body .reason:last-child{
    border-bottom: none;
}
.modal_body textarea{
    width: 100%;
    height: 150px;
    margin-bottom: 8px;
    padding: 16px;
    font-size: 15px;
    resize: none;
    border: 1px solid rgb(223,223,223);
}
.modal_body .ment{
    font-size: 14px;
    color: #9d9d9d;
    margin-bottom: 30px;
}
.modal_body button{
    display: block;
    width: 200px;
    height: 40px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    background-color: #d9ffd2;
    margin: 0 auto;
}

