@charset "UTF-8";


input:focus,
textarea:focus{
    outline: none;
}

.replyArea{
    height: 200px;
    padding-bottom: 30px;
    margin-bottom: 0;
}

.replyWrap{
    padding: 20px;
    margin-bottom: 150px;
    background-color: #fafafa;
}

#selectReply{
    width: 900px;
    padding: 20px 20px 20px 20px;
    border-radius: 5px;
    position: relative;
    background-color: #fafafa;
}
#selectReply > p{
    background-color: #58ca88;
    padding: 3px 10px 3px;
    border-radius: 5px;
    position: absolute;
    top: 5px;
    left: 120px;
    color: #fff;
    font-size: 13px;
}
#selectReply #Qcon .rrInfo{
    border: none;
}
#QImg{
    width: 50px;
    height: 50px;
    background-color: rgb(230, 230, 230);
    border-radius: 50%;
    float: left;
    margin-right: 20px;
}
#QImg img{
    display: block;
    margin-bottom: 70px;
}
#QImg p {
    font-size: 15px;
    border-radius: 5px;
    border: 1px solid rgb(223, 223, 223);
    text-align: center;
}
#QImg p:hover{
    border: 1px solid #58ca88;
    color: #58ca88;
    cursor: pointer;
}
#selectReply #Qcon{
    border: 1px solid #58ca88;
}
#Qcon{
    border: 1px solid #bbbbbb;
    border-radius: 5px;
    padding: 20px;
    width: 780px;
    float: left;
    background-color: #fff;
}

/* 댓글 리스트 */
.replyWrap .replyList .rInfo{
    margin : 0px 0 12px 0;
}
.replyList .rInfo > p{
    float: left;
    margin-right: 20px;
}
.replyList .rInfo > div{
    float: right;
}
.replyList .rInfo > div > p {
    float: left;
    font-size: 14px;
    margin-left: 10px;
    cursor: pointer;
    color: #646464;
}
.replyList .rInfo > p:first-child{
    font-size: 16px;
}
.replyList .rInfo > p:nth-child(2){
    color: #b1b1b1;
    font-size: 13px;
    line-height: 26px;
}
.rCon{
    margin-bottom: 20px;
}
.rrInfo{
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(223, 223, 223);
}
.rrInfo p{
    font-size: 14px;
    float: left;
    color: #646464;
    cursor: pointer;
}
.rrInfo p:last-child{
    float: right;
}

.qNoSelect{
    margin-bottom: 30px;
}

/*댓글 잓어 버트 */
.replyWrite > textarea{
    width: 680px !important;
}
.replyWrite #replyBtn{
    width: 680px !important;
    height: 30px;
    font-size: 14px;
    background-color: #f1f1f1;
    border: 1px solid rgb(223, 223, 223);
    border-radius: 5px;
    margin-bottom: 40px;
}


#rrCon{
    float: left;
    width: 30px;
    height: 30px !important;
    border-radius: 50%;
    background-color: rgb(223, 223, 223);
    margin-right: 20px;
}

#rrList{
    width: 620px;
    float: left;
}

#rrList .rRL{
    width: 635px;
}


/* 댓글 수정하기 영역 수정 */
.replayModify{
    width: 740px !important;
}
.replyWrap .rCon button{
    width: 359px !important;
}
.replyWrap .rCon button:last-child{
    margin-right: 0;
}