@charset "UTF-8";


#F_writer_content .right .thumbnailArea .thumbnailArea{
    height: 400px;
    background-color: red;
}

.perTotla{
    margin-bottom: 5px;
}
#perNum{
    margin-bottom: 20px;
}

#freeCategory .list-member {
    background-color: #fff;
    height: 300px !important;
    overflow: scroll;
}
#freeCategory .list-member::-webkit-scrollbar {
    display: none;
}