@charset "UTF-8";
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
@font-face {
    font-family: 'EF_watermelonSalad';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-EF@1.0/EF_watermelonSalad.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'PyeongChang-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChang-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);


/* 공통 */
.page-blank{
	margin-top : 80px;
}
.mySide{
	position : fixed;
}
.content{
	width : 100%;
	float:left;
	padding-left : 250px;
    margin-bottom: 50px;
}

/* 포인트페이지 */
/* 상단 포인트 블럭 */
.topBlock{
	height : 55px;
	padding : 13px 20px;
	border : 1.5px solid rgb(175, 175, 175);
	border-radius: 10px;
	box-sizing : border-box;
	color : rgb(3, 195, 115);
	font-size : 16px;
	font-weight : 500;
	margin-bottom : 30px;
}

/* 내역블록 */
.block{
	padding : 25px;
	border : 1.5px solid rgb(175, 175, 175);
	border-radius: 10px;
	box-sizing : border-box;
	margin : auto;
}

/* 카테고리 버튼 */
.post_Btn{
    /* background-color: pink; */
    width: 100%;
    height : 50px;
    margin-bottom: 10px;
}
#qna_left, #qna_right{
    display: inline-block;
}
#qna_right{
    float: right;
}
.qna_all, .answer, .unAnswer{
    background-color: white;
    width : 80px;
    height: 38px;
    border : 1.5px solid #cecece;
	border-radius : 5px;
	color : #cecece;
	margin-right : 10px;
}
.qnaCreate, .deleteBtn_yj{
    background-color: rgb(3, 195, 115);
    color: white;
    width : 90px;
    height: 38px;
	border-radius : 5px;
    border: none;
    margin-left: 10px;
}

/* 게시글(문의글) 리스트 */
.postList{
    display: block;
}
.post_block{
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(227, 227, 227);
    /* background-color: #164b35; */
}
.post_block:last-child{
    border-bottom: none;
    margin-bottom: 0;
}
.post_top{
    height: 50px;
}
input[type=checkbox]{
    display: inline-block;
    margin-right: 10px;
}
.post_cate{
    display: inline-block;
    background-color: #03c373;
    color: #fff;
    padding: 4px 8px 4px;
    border-radius: 5px;
    margin-right: 16px;
    font-size: 13px;
}
.post_title{
    display: inline-block;
    line-height: 32px;
    font-size: 17px;
    font-weight: bold;
}
.post_con{
    display : inline-block;
    width: 800px;
	overflow : hidden;
	text-overflow : ellipsis;
	white-space : nowrap;
    margin-bottom : 8px;
    /* background-color: #03c373; */
    height: 25px;
    white-space:pre-line;
    text-align: justify;
}
.post_date{
    margin-right: 0;
    float: right;
    color: #8a8a8a;
    font-size: 14px;
}

/* 페이징버튼 */
.paBtn{
	width : 265px;
	height : 60px;
	margin : auto;
}
.paBtn > button{
	width : 40px;
	height : 40px;
	background-color : white;
	border : 1px solid rgb(3, 195, 115);
	border-radius : 3px;
	color : rgb(3, 195, 115);
	margin : 5px;
	box-sizing : border-box;
}
.paBtn > button:first-child{
	background-color : rgb(3, 195, 115);
	color : white;
	border : none; 
	box-sizing : border-box;
}


























