@charset "UTF-8";

footer{
    background-color: #dfdfdf;
    padding : 20px;
}

#footerMenu{
    margin: 40px 0 30px;
}
#footerMenu li{
    float: left;
    margin-right: 20px;
    color: #4e4e4e;
}

.footerInfo{
    line-height: 26px;
    margin-bottom: 30px;
    color: #434343;
}
