@charset "UTF-8";
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
@font-face {
    font-family: 'EF_watermelonSalad';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-EF@1.0/EF_watermelonSalad.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'PyeongChang-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChang-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
 
 
/* 공통 */
.page-blank{
	margin-top : 80px;
}
.adSide{
	position : fixed;
}
.content{
	width : 100%;
	float : left;
	padding-left : 250px;
}


/* 아이템페이지 */
/* 상단블록 */
.topBlock{
	height : 55px;
	padding : 13px 20px;
	border : 1.5px solid rgb(175, 175, 175);
	border-radius: 10px;
	box-sizing : border-box;
	/* color : rgb(3, 195, 115); */
	font-size : 16px;
	font-weight : 500;
	margin-bottom : 30px;
}

.selectSpan{
	margin-right: 10px;
    cursor: pointer;
	color : rgb(3, 195, 115);
}
.noneSpan{
	margin-right: 10px;
    cursor: pointer;
	color :rgb(136, 136, 136);
}

/* 내역블록 */
.block{
    padding : 25px;
	border : 1.5px solid rgb(175, 175, 175);
	border-radius: 10px;
	box-sizing : border-box;
	margin : auto;
	margin-top : 30px;
	/* background-color: #03c373; */
	width: 950px;
}

/* 카테고리버튼 */
.myBtn{
    display: inline-block;
}
/*
.myBtn>button{
	display : inline-block;
	width : 80px;
	height : 38px;
	background-color : white;
	border : 1.5px solid #cecece;
	border-radius : 5px;
	color : #cecece;
	margin-right : 10px;
}
*/
/* 
.myBtn>button:first-child {
	border : 1.5px solid rgb(3, 195, 115);
	color : rgb(3, 195, 115);
}
 */
.status{
    display: inline-block;
    float: right;
}
/* 
.status>span{
    margin-left: 10px;
    font-size: 14px;
    color:#a3a3a3;
}
.status>span:first-child{
    color: rgb(3, 195, 115);
} */

.status>span:hover{
    cursor: pointer;
}
.noneStatus{
	margin-left: 10px;
    font-size: 14px;
    color:#a3a3a3;
} 
.selectStatus{
	margin-left: 10px;
    font-size: 14px;
    color: rgb(3, 195, 115);
}

.selectBtn{
	background-color: white;
    width : 80px;
    height: 38px;
	border : 1.5px solid #03c373;
	border-radius : 5px;
	color : #03c373;
	margin-right : 10px;
}
.noneBtn{
	display : inline-block;
	width : 80px;
	height : 38px;
	background-color : white;
	border : 1.5px solid #cecece;
	border-radius : 5px;
	color : #cecece;
	margin-right : 10px;
}


/* 아이템리스트 */
#myItem {
	/* width: 100%; */
	/* background-color: #03c373; */
	width: 950px;

}

.tableList{
	/* border : 1px solid black; */
	padding : 30px 12px;
	text-align : center;
	display: inline-block;
	width : 225px;
	/* width : 100%; */
}
.tableList>p{
	color : #a3a3a3;
}
.tableList>div{
	width : 200px;
	height : 200px;
	margin : 15px auto;
	overflow:hidden;
	
}
.tableList>div>img{
	width : 100%;
	height : 100%;
	object-fit : cover;
}

.update{
	width : 60px;
	height : 30px;
	background-color : white;
	border : 1px solid #a3a3a3;
	border-radius : 3px;
	color : #a3a3a3;
	font-size : 14px;
	margin : 0 3px;
}

.update:hover{
	border : 1px solid rgb(3, 195, 115);
	color : rgb(3, 195, 115);
}
/* 
.testBtn{
	background-color : rgb(3, 195, 115);
	color : white;
}
 */
.emptyList{	
	display : block;
	/* background-color : pink; */
	text-align : center;
	margin : 30px auto;
	color : rgb(160, 160, 160);
}
.sale{
	width : 60px;
	height : 30px;
	background-color : rgb(3, 195, 115);
	border : none;
	border-radius : 3px;
	color : white;
	font-size : 14px;
	margin : 0 3px;
}
.notSale{
	width : 60px;
	height : 30px;
	background-color : white;
	border : 1px solid rgb(3, 195, 115);
	border-radius : 3px;
	color : rgb(3, 195, 115);
	font-size : 14px;
	margin : 0 3px;
}


/* 모달 스타일 */
.modal_body #itemImg2{
    width: 260px;
    height: 260px;
    border-radius: 10px;
	border: 1px solid #a3a3a3;
    /* background-color: gray; */
    float: left;
    margin-right: 30px;
}
#itemImg2 > img{
	width: 100%;
	border-radius: 10px;
}
#reUpFile{
	display: none;
}
#itemIntro2{
    width: 320px;
    float: left;
	margin-top: 10px;
}
.itemType2{
    display: inline-block;
    border: 1px solid #03c373;
    padding: 5px 10px;
    border-radius: 15px;
    color: #03c373;
    text-align: left;
    font-size: 13px;
	margin-right: 10px;
    margin-bottom: 10px;
}
.itemType3{
	display: inline-block;
    border: 1px solid #a3a3a3;
    padding: 5px 10px;
    border-radius: 15px;
    color: #a3a3a3;
    text-align: left;
    font-size: 13px;
	margin-right: 10px;
    margin-bottom: 10px;
}
.mainInfo{
	margin-bottom : 5px;
}
.mainInfo input{
	margin-bottom : 5px;
	margin-left: 15px;
	width: 220px;
}
#itemIntro2 > span{
	float: left;
    margin-top: 20px;
}
#itemIntro2 textarea{
	margin-left: 15px;
	margin-bottom: 10px;
	width: 260px;
	height: 55px;
	resize: none;
	overflow: auto;
}