@charset "UTF-8";
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
@font-face {
    font-family: 'EF_watermelonSalad';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-EF@1.0/EF_watermelonSalad.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'PyeongChang-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChang-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

/* 초기화 */
* {
    list-style: none;
    padding: 0;
    margin: 0;
    color: #292929;
    font-family: 'Noto Sans KR', sans-serif;
    /* font-family: 'Noto Sans KR', sans-serif; */
    text-decoration: none;
}

p{
    margin: 0;
}

h1 {
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
    color: #292929;
    list-style: none;
}

a:hover{
    text-decoration: none;
    color: #292929;
}

/* 공통 */
.page-blank{
	margin-top : 80px;
}
.mySide{
	position : fixed;
}
.content{
	width : 100%;
	float:left;
	padding-left : 250px;
}

/* 마이페이지 */
.content>div{
	display : inline-block;
	width : 300px;
	height : 300px;
	padding : 25px;
	border : 1.5px solid rgb(175, 175, 175);
	border-radius: 10px;
	box-sizing : border-box;
}
.balance{
	margin-left : 20px;
	margin-bottom : 20px;
}
#grass{
	width : 620px;
}

/* 메인 화면 블럭 5개 */
.content button{
	display : block;
	margin :10px auto;
	width : 100px;
	height : 38px;
	background-color : white;
	border : 2px solid #cecece;
	border-radius : 5px;
	color : #cecece;
}
.content p{
	text-align : center;
	font-size : 15px;
	color : rgb(160, 160, 160);
}
#mainChar{
	background-color : #e2e2e2;
	width : 150px;
	height : 150px;
	margin : auto;
	margin-bottom : 5px;
}
#mNick{
	font-size : 18px;
	font-weight : 500;
	color: rgb(94, 94, 94);
}
#mMail{
	font-size : 15px;
	color : rgb(160, 160, 160);
}
#totalP{
	color : #03c373;
	text-align : center;
	margin-top : 27px;
	margin-bottom : 30px;
}
#mb2>p{
	font-size : 17px;
	line-height : 33px;
}
#mb3>h5{
	color: rgb(94, 94, 94);
}
#mb3>p{
	font-size : 17px;
	line-height : 34.5px;
}

































